body{
    background-color: bisque;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
}

h1{
    color: aquamarine;
    margin-left: 0cqh;
}

p{
    color:azure;
    margin-left: 0cqh;
}